@import "tailwindcss";

/* .bg-intro-mobile {
    background-image: url('/src/assets/images/welcome-image-mobile.png');
  }
  .bg-intro-desktop {
    background-image: url('/src/assets/images/welcome-image-desktop.png');
  } */

  .introduction {
    /* background-image: url('/src/assets/images/welcome-image-desktop.jpg'); */
    background-image: var(--desktop-bg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-color: silver;
    /* padding-bottom: 500px; */
  }
  
  @media (max-width: 767px) {
    .introduction {
      /* background-image: url('/src/assets/images/welcome-image-mobile.jpg'); */
      background-image: var(--mobile-bg);
      background-position: bottom;
      padding-bottom: 100%;
    }
    
  }


  
  
/* body {
    font-family: Calibri;
    
} */
body {
    font-family: 'Montserrat', sans-serif;
  }
/* body {
    font-family: 'Source Sans Pro', sans-serif;
} */

input[type="radio"] {
    accent-color: #E91E63; /* Primary pink */
  }

  input[type="checkbox"] {
    accent-color: #E91E63; /* Primary pink */
  }

  
/* h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

.h4u-heading-font{
    font-family: 'Playfair Display', serif;
}

.h4u-body-font{
    font-family: 'Source Sans Pro', sans-serif;
} */

.slick-list{
    margin:auto 5em;
    text-align: center;
}
.slick-next:before, .slick-prev:before {
    display: none;
}
.item-inner{
    margin:auto 15px;
    position: relative;

}
.result-box {
    position: relative;
}
.result-box:after{
content: '';
position: absolute;
left: 0;
height: 100%;
width: 100%;
bottom: 0;
right: 0;
top: 0;
/* background: rgba(139, 139, 139, 0.8); */

}

/* stylelint-disable-next-line block-no-empty */
.item-inner:hover::after,.result-box:hover:after{
    /* background: rgba(139, 139, 139, 0.1);    */
}
.result-content {
    position: absolute;
    bottom:0px;
    padding:5px 10px;
    z-index: 2;
    width:100%;
}
.item img {
width: 100%;

}
.slider-container {

    /* text-align: center; */
}
.slick-initialized .slick-slide {
    display: inline-block;
    float: none;
}


.swiper-slide {
    text-align: center;
    border: 1px solid;
}
/* .item-inner h3{
    position: absolute;
    left:0;
    right: 0;
    bottom:10px;
    z-index: 12;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    padding:10px;

} */
/* .item-inner h3 a {
    display: block;
} */
.szh-accordion__item-content {
    transition: height 0.25s cubic-bezier(0, 0, 0, 1);
  }
.item-inner:hover h3 {
    /* background: rgba(139, 139, 139, 1); */
    /* background: #F8BBD0; */

}
.result-box:hover .result-content {
    /* background: rgba(139, 139, 139, 1); */
    background: #F8BBD0;
}
.chat-bubble-left, .chat-bubble-right{
    position: relative;
}
.chat-bubble-left::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -30px;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 30px 30px 30px;
    border-color: #E91E63 transparent transparent transparent;
    transform: rotate(31deg);
}
.chat-bubble-right:after {
    content: "";
    position: absolute;
    bottom: -15px;
    right: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 30px 30px 30px;
    border-color: #E91E63 transparent transparent transparent;
    transform: rotate(90deg);
}
.chat-bubble-right {
    text-align: right;
}
.chat-bubble-right .text-custom {
    text-align: end;
    margin-right: 60px;
}
.chat-box-gr {
    position: relative;
    z-index: 334;
}
.chat-box-gr::after{
    content: "";
    position: absolute;
    bottom: -15px;
    right: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 30px 30px 30px;
    border-color: #FFFFFF transparent transparent transparent;
    transform: rotate(90deg); 
    z-index: -1;
}
.profile-slider .slick-list{
    margin:auto;
    text-align: center;
}
.profile-slider .slick-dots {
    bottom: 25px;
   
}
.profile-slider .slick-dots li button:before{
font-size: 20px;
}

.EZDrawer .EZDrawer__container {
    /* background: rgba(181, 181, 181,1) !important; */
    background: #FFFFFF !important;
    overflow-y: auto;
    z-index:9999 !important;
}
@media (max-width:768px) {
    .slick-list {

        margin: 0px;
    }
    /*
 .filter{
    
    max-width:120px;
    margin:auto;
    margin-top:20px;
 } */
}

/* Sweetalert styling */
.my-confirm-button {
    background-color: #E91E63;
    color: white;
    padding: 0.5rem 1.2rem;
    border: none;
    /* border-radius: 8px; */
    font-weight: bold;
    margin: 0 0.25rem;
  }
  
  .my-cancel-button {
    background-color: #F8BBD0;
    color: black;
    padding: 0.5rem 1.2rem;
    border: none;
    /* border-radius: 8px; */
    font-weight: bold;
    margin: 0 0.25rem;
  }
  
  .my-swal-popup {
    /* border-radius: 20px; */
    padding: 2rem;
  }